<template>

            <div class="col-md-4 ">
                <button @click="update" class="btn btn-default text mb-1" v-if="!is_refresh">refresh - {{id}}...</button>
                <span class="badge badge-primary" v-if="is_refresh">Refreshing</span>

               </div>

</template>

<script>
    export default {
        data:function(){
            return{
            urldata:[],
            is_refresh:false,
            id:0
            }
        },
        mounted(){
            this.update()
        },methods:{
            update:function(){
                this.is_refresh = true
                axios.get('/admin/employee').then((response)=>{
                console.log(response)
                    this.urldata = response.data
                    this.is_refresh =false
                    this.id++
                });
            }
         }
     }
</script>
