<template>

            <div class="col-md-4 ">
               <ul v-for="url in urldata">
                <li>{{url.name}}</li>
               </ul>
            </div>

</template>

<script>
    export default {
        props:[
          'urldata'
        ],

        mounted(){
            this.update()
        }




    }
</script>
