<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <textarea rows="6" readonly="" class="form-control">{{dataMessages.join('\n')}}</textarea>
                </div>
                <div class="input-group">
                <input type="text" class="form-control" placeholder="putt message" v-model="message">
                <div class="input group-append">
                    <button @click="sendMessage" class="btn btn-outline">Send</button>
                </div>
                </div>
            </div>
        </div>
    </div>


</template>

<script>
    import LineChart from './LineChart.js'
    export default {

        data:function(){
            return{
                dataMessages: [],
                message: "",
           }
        },
        mounted() {
            var socket = io('http://localhost:3000');

            soceket.on("news-action:App\\Events\\NeWMessage",function(data){
                this.dataMessages.push(data.message);
            }.bind(this));

        },
        methods:{

            sendMessage: function(){
                axios({
                method: 'get',
                url:'/start/send-message',
                params:{message: this.message}
                }).then((response)=>{
                                    this.message =""
            });
        }
      }
    }
</script>
